/* Estilo da pagina html */
.html-style1{
    background-color: #ECE5CE;
    
}

body{
    height: 500px;
}

/* Estilo da navbar do topo da pagina */
.nav-bar{
    background-color: #774F38;
    overflow: hidden;
    height: 80px;
    width: 100%;
    border-radius: 10px;
}


/* Estilo das imagens */
.imagem-logo{
    padding-top: 5px;
    padding-left: 10px;
}

.imagem-logo:hover{
    cursor: pointer;
}


/* Estilo dos botoes */
.botao-navbar-logo{
    background-color: #774F38;
    height: 80px;
    width: 300px;
    border: 0;
    position: absolute;
}

.botao-navbar{
    background-color: #774F38;
    border: 0;
    height: 70px;
    width: 250px;
    border: 0;
    float: right;
    position: relative;
    margin-top: 4px;
    color: white;
    font-size: 25px;
    font-family: arial;
    border-radius: 20px;
    text-align: center;
}

#botaoProdutos{
    margin-right: 20px;
}

.botao-navbar:hover{
    background-color: #E08E79;
    cursor: pointer;
}

.botao-socialmedia{
    background-color: #E08E79;
    border: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.botao-socialmedia:hover{
    cursor: pointer;
    background-color: #679b93;
}




/* Estilo dos texto */
.h1-1{
    color: white;
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
}

.logo-text{
    color: white;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
}

.logo-text:hover{
    cursor: pointer;
}

.texto-nome-produto{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
}

.texto-preco-produto{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
}

.texto-corpo{
    color: black;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
}

#description{
    font-size: 25px;
}

.texto-titulo-rodape{
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding-top: 25px;
}

.texto-rodape{
    color: white;
    font-family: arial;
    font-size: 15px;
}


/* Estilo do carousel (slider) */
.carousel{
    width: 1000px;
    height: 562px;
    margin: 0 auto;
    align-items: center;
}

.carousel .carousel-img{
    transform: scale(0.6);
    transition: 0.5s;
    outline: none !important;
    width: 33%;
    height: 33%;
    border-radius: 10px;
    position: relative;
    padding-top: 150px;
    
}

.carousel .carousel-img.slick-center{
    transform: scale(1);
}

.botao-setas{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #E08E79;
    color: white;
    font-size: 20px;
    font-family: arial;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.botao-setas:hover{
    cursor: pointer;
}


/* Estilo das divs */
.div1{
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.div2{
    width: 100%;
    height: 100px;
}

.div3{
    margin-top: 50px;
    width: 100%;
    height: 275px;
    background-color: #774F38;
    border-radius: 10px;
}
.div4{
    height: 25px;
    width: 100%;
}