<html class="html-style1">
    <head>
        <meta charset="utf-8">
        <title>Cake template site</title>
        <link rel="shortcut icon" type="image/png" href="../images/home/cake-template-logo-browser.png"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </head>

    <body>

        <div class="nav-bar" id="div-navbar">

            <a href="../index.html"><img class="imagem-logo" width="70px" height="70px" alt="logo" src="../images/home/cake-template-logo.png"></a>
            
            <button class="botao-navbar-logo"><a class="logo-text" href="../index.html">Cake Template</a></button>
            
            <a href="../templates/cardapio.html"><button class="botao-navbar" id="botaoCardapio">Cardápio</button></a>
            <a href="../templates/sobre.html"><button class="botao-navbar" id="botaoSobre">Sobre</button></a>

        </div>

        <div>

            <table align="center" cellpadding="20" class="tabela-cardapio" cellspacing="0">
                <thead>
                    <tr align="center" bgcolor="#b17451">
                        <td class="titulo-tabela-cardapio">Tipo</td>
                        <td class="titulo-tabela-cardapio">Nome</td>
                        <td class="titulo-tabela-cardapio">Preço por Unidade</td>
                        <td class="titulo-tabela-cardapio">Preço 10 unidades</td>
                        <td class="titulo-tabela-cardapio">Ingredientes utilizados</td>
                    </tr>
                </thead>
                
                <tr align="center">
                    <td><img src="../images/icons/brigadeiro-icon.png" alt="Icone de Brigadeiro" width="35px" height="35px"></td>
                    <td class="texto-tabela-cardapio">Brigadeiro de Ninho com Nutella</td>
                    <td class="texto-tabela-cardapio">R$ 2.50</td>
                    <td class="texto-tabela-cardapio">R$ 20.00</td>
                    <td class="texto-tabela-cardapio">Leite Ninho, Nutella</td>
                </tr>

                <tr align="center">
                    <td><img src="../images/icons/brigadeiro-icon.png" alt="Icone de Brigadeiro" width="35px" height="35px"></td>
                    <td class="texto-tabela-cardapio">Brigadeiro</td>
                    <td class="texto-tabela-cardapio">R$ 1.50</td>
                    <td class="texto-tabela-cardapio">R$ 12.00</td>
                    <td class="texto-tabela-cardapio">Leite condensado, achocolatado</td>
                </tr>

                <tr align="center">
                    <td><img src="../images/icons/brigadeiro-icon.png" alt="Icone de Brigadeiro" width="35px" height="35px"></td>
                    <td class="texto-tabela-cardapio">Brigadeiro de Ninho</td>
                    <td class="texto-tabela-cardapio">R$ 2.00</td>
                    <td class="texto-tabela-cardapio">R$ 18.00</td>
                    <td class="texto-tabela-cardapio">Leite condensado, Leite Ninho</td>
                </tr>

                <tr align="center">
                    <td><img src="../images/icons/brigadeiro-icon.png" alt="Icone de Brigadeiro" width="35px" height="35px"></td>
                    <td class="texto-tabela-cardapio">Brigadeiro de Ninho com Uva</td>
                    <td class="texto-tabela-cardapio">R$ 2.50</td>
                    <td class="texto-tabela-cardapio">R$ 20.00</td>
                    <td class="texto-tabela-cardapio">Leite Ninho, Uva no recheio</td>
                </tr>

                <tr align="center">
                    <td><img src="../images/icons/cupcake-icon.png" alt="Icone de Cupcake" width="45px" height="45px"></td>
                    <td class="texto-tabela-cardapio">Cupcake de chocolate</td>
                    <td class="texto-tabela-cardapio">R$ 5.00</td>
                    <td class="texto-tabela-cardapio">R$ 45.00</td>
                    <td class="texto-tabela-cardapio">Massa de bolo de chocolate, chantilly</td>
                </tr>
            </table>

        </div>

    </body>
</html>